<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Bind it!</h3>
      <ol>
        <li>Create three...</li>
        <li>The GameControl...</li>
        <li>When starting...</li>
        <li>The event should...</li>
        <li>When stopping...</li>
        <li>A new Odd...</li>
        <li>Simply output...</li>
        <li>Style the element...</li>
      </ol>
    </div>
    <div class="row">
      <div class="col-sx-12">
        <app-game-control (intervalFired)="onInternalFired($event)"></app-game-control>
      </div>
    </div>
    <div class="row">
      <div class="col-sx-12">
        <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
        <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
      </div>
    </div>
  </div>
</div>
